<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>
            if elif conditional statement
            {% if a > b and a > c %}
                
                    a is max {{ a }}
                
            {% elif b > c %}
                
                    b is max {{ b }}
                
            {% else %}
                
                    c is max {{ c }}
                
            {% endif %}
        </h1>
    </center>
</body>
</html>